
env/*
!env/.gitkeep

templates/*
!templates/.gitkeep

#data/chore-log.yml
#data/chore-log.csv
#data/*.pptx
#!data/.gitkeep

bak/*
!bak/.gitkeep

private/private.yml
!private/.gitkeep

*.egg-info/

__pycache__
lib/__pycache__
lib/helpers/*.pyc

lib/helpers/__pycache__
lib/mod/__pycache__

lib/raspi/__pycache__
lib/raspi/*.pyc
